.btn{
background: black;
width: 224px;
color: white;
font-weight: 700;
height: 56px;
}
.btn:hover{
    color: white;
    font-size: 1.1rem;
    transition: .2s;
}
.aggCar{
    margin-top: 10px;

    background-color: black;
}
.btnComprar{
    margin-top: 10px;
    background-color: #0d6efd;

}
.btn-chekout{
        background-color: #0d6efd;
    border: none;

}
footer{
    height: 320px;
    background-color:#1D1D1D;

}
.imgLogo{
    margin: 60px auto;
    padding-top: 50px;
    text-align: center;

    /* border: 1px solid red; */

}

.venta{
    display: flex;
    flex-direction: row;
    /* width: 130px; */
    /* height: 130px; */
    /* border: 1px solid red; */
}
.h3, h3 {
    font-size: calc(1rem + .6vw);
    margin-left: 10px;
}
.detalle>span{
    position: relative;
    left:14px;
    top:30px;
    display: block;
    font-weight: 700;
}

.venta img{
    width: 150px;
    height:150px;
    object-fit: cover;
}

.offcanvas-body{

}
.offcanvas-end{
    width: 500px;

}
.navbar-collapse {
justify-content: space-around;
margin-left: 150px;
}
.redes{
    text-align: center;
}
.red{
    font-size:2rem;
    margin-left: 15px;
    color: white;
    text-decoration: none;
}